In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [2]:
name = 'chevrolet chevelle melibu'
mfg = name.split()[0]
mfg

'chevrolet'

In [10]:
model = name.split()[1:]
model

['chevelle', 'melibu']

In [11]:
' '.join(name.split()[1:])

'chevelle melibu'

# 연습문제

In [15]:
# 1 - a
Iris = sns.load_dataset('iris')
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
# 1 - a
Iris.groupby('species').agg(['mean','std','min','max'])

           sepal_length                     sepal_width                      \
                   mean       std  min  max        mean       std  min  max
species
setosa            5.006  0.352490  4.3  5.8       3.428  0.379064  2.3  4.4
versicolor        5.936  0.516171  4.9  7.0       2.770  0.313798  2.0  3.4
virginica         6.588  0.635880  4.9  7.9       2.974  0.322497  2.2  3.8

           petal_length                     petal_width
                   mean       std  min  max        mean       std  min  max
species
setosa            1.462  0.173664  1.0  1.9       0.246  0.105386  0.1  0.6
versicolor        4.260  0.469911  3.0  5.1       1.326  0.197753  1.0  1.8
virginica         5.552  0.551895  4.5  6.9       2.026  0.274650  1.4  2.5